@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Poppins', sans-serif;
}


.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:none;
transition: 2s;
position: fixed;
width: 100%;
height: 15vh;
z-index: 10000;
}
  

.header.sticky{
  background-color: rgba(241, 12, 58, 0.521);
}


.header:hover{
  background-color: rgba(241, 12, 58, 0.521);
  
}

.btn{
 display: none;
 color: white;
}

.menu{

 

}

.ulist{
 
  list-style: none;
  display: flex;
  
  

}


.ulist li a{
   margin-left: 1.5em;
   text-decoration: none;
   padding: 1.5em;
  font-size: 1.2em;
  color: white;
  transition: 1s;
  

}

.ulist li a:hover{

  color: rgb(241, 12, 58);
}

.firstimage{
  
  background-image: linear-gradient(to right, rgba(233, 233, 245, 0.5), rgba(238, 67, 62, 0.5)),
  url("./images/kk.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  
  
}





.logo a{
 font-size: 2.5em;
 font-weight: 800;
 color: black;
 text-decoration: none;
 margin-left: 2em;
}

.logo a span{
  color: rgb(241, 12, 58);
  font-size: 0.5em;
}

.content{
  margin-top: 20px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
}

.leftcontent img{
  max-width: 900px;
  max-height: 480px;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  transition: 1s;
  }
  .leftcontent img:hover{
    
    transform: scale(1.1);
  }


.rightcontent .we,.weare{

  text-align: center;
  margin-top: 50px;
  padding: 5px;
  line-height: 37px;
  text-align: justify;
  max-width: 490px;
}

.rightcontent .we{
  font-size: 25px;
  display: flex;
  
}

.rightcontent a{

  display: inline-block;
  text-decoration: none;
  border: 1px solid white;
  color:  white;
  background-color: rgb(241, 12, 58);
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 15px;
  transition: 1s;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.rightcontent a:hover{
  background-color: white;
  color:rgb(241, 12, 58);
  border: 1px solid rgb(241, 12, 58);
}



@media(max-width:577px){

  .logo a{
    
    margin-left: 1em;
   }

  .btn{
    color: white;
    position: absolute;
    right: 40px;
    top:20px;
    display: inline;
    z-index: 1000;
    font-size: 25px;
    }

  .btn i.active:before{
    content: "\f00d";

  }

  .ulist{
 
    list-style: none;
    display: block;
    width: 100%;
    left: -100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 2;
    top:0;
    
  }

  .ulist.active{
 
   
    left:0;
    
    
  }

  .ulist li a{
    margin: 10px 0px 20px;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2em;
    color: white;
    display: block;
    text-align: center;
  
    
  }

  .ulist li a:hover{
    color:rgb(241, 12, 58);
  }

  
  .firstimage{
  
    background-image: linear-gradient(to right, rgba(233, 233, 245, 0.5), rgba(238, 67, 62, 0.5)),
    url("./images/kk.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 86vh;
    width: 100%;
    
    
    
  }

  .content{
    margin-top: 3px;
    display: block;
   
  }

  .leftcontent img{

    width: 70%;
    height:auto;
    margin-left: 65px;
    
    }

    .leftcontent img:hover{
    
      transform: scale(1.05);
    }
    
   
    .rightcontent .we,.weare{

      margin-left: 20px;
      margin-top: 10px;
      padding: 5px;
      line-height: 23px;
    }
      
    

    .rightcontent a{

      margin-left: 20px;
    }

}