body{
  background-color: rgb(215, 247, 174);
  height: 100%;
}

.main{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-rows: 290px;
  gap: 0.7rem;


 
}

img{
  width: 100%;
 height: 100%;
}

.big{
  grid-row: span 2;
}

